<section>
    <div class="container">
        <!--/.row-->
        <div class="row">
            <div class="my-4 col-lg-12">
                <h4><strong>Lista de usuários</strong></h4>
            </div>
            <div class="col-lg-12">
<!--                <div class="row">-->
<!--                    <div class="col-lg-4 col-md-6 mb-2">-->
<!--                        <label>Name/E-mail</label>-->
<!--                        <input (keyup.enter)=list(true) type="text" [(ngModel)]="usuarioBusca.name" class="form-control">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="my-2">-->
<!--                    <a routerLink="/usuarios/cadastrar" class="btn btn-success"><i class="fa fa-plus"></i><span class="d-none d-sm-inline"> Novo</span></a>-->
<!--                    <button type="button" class="btn btn-primary" (click)="list(true)"><i class="fa fa-search"></i><span class="d-none d-sm-inline"> Pesquisar</span></button>-->
<!--                    <button *ngIf="temBusca" type="button" class="btn btn-secondary" (click)="limpaLista()"><i class="fa fa-ban"></i><span class="d-none d-sm-inline"> Limpar</span></button>-->
<!--                </div>-->
            </div>
            <div class="col-lg-12 mt-2">
                <div class="card">
                    <div class="card-body table-responsive" *ngIf="(customers$ | async) as customers; else loading">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width: 30%;">Name</th>
                                <th style="width: 30%;">Email</th>
                                <th style="width: 10%;">Phone</th>
                                <th style="width: 5%;">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let customer of customers">
                                <td>{{customer.name}}</td>
                                <td>{{customer.email}}</td>
                                <td>{{customer.phone | date: 'dd/MM/yyyy'}}</td>
                                <td>
                                    <a routerLink="/usuarios/editar/{{customer.id}}" class="btn btn-sm btn-primary">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <ng-template #loading>
                        <div class="card-body">
                            Loading...
                        </div>
                    </ng-template>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
</section>
